<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>SongReco</display-name>
  <welcome-file-list>
    <welcome-file>First.jsp</welcome-file>
    <welcome-file>Second.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>createUserservlet</display-name>
    <servlet-name>createUserServlet</servlet-name>
    <servlet-class>Beans.createUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>createUserServlet</servlet-name>
    <url-pattern>/createUserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DisplaySongsServlet</display-name>
    <servlet-name>DisplaySongsServlet</servlet-name>
    <servlet-class>Beans.DisplaySongsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplaySongsServlet</servlet-name>
    <url-pattern>/DisplaySongsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateSongLikeServlet</display-name>
    <servlet-name>UpdateSongLikeServlet</servlet-name>
    <servlet-class>Beans.UpdateSongLikeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateSongLikeServlet</servlet-name>
    <url-pattern>/UpdateSongLikeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FetchSongDataByArtistServlet</display-name>
    <servlet-name>FetchSongDataByArtistServlet</servlet-name>
    <servlet-class>Beans.FetchSongDataByArtistServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FetchSongDataByArtistServlet</servlet-name>
    <url-pattern>/FetchSongDataByArtistServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FetchSongDataBySongServlet</display-name>
    <servlet-name>FetchSongDataBySongServlet</servlet-name>
    <servlet-class>Beans.FetchSongDataBySongServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FetchSongDataBySongServlet</servlet-name>
    <url-pattern>/FetchSongDataBySongServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FetchArtistDataByArtistServlet</display-name>
    <servlet-name>FetchArtistDataByArtistServlet</servlet-name>
    <servlet-class>Beans.FetchArtistDataByArtistServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FetchArtistDataByArtistServlet</servlet-name>
    <url-pattern>/FetchArtistDataByArtistServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FetchAlbumDataByAlbumServlet</display-name>
    <servlet-name>FetchAlbumDataByAlbumServlet</servlet-name>
    <servlet-class>Beans.FetchArtistDataByArtistServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FetchAlbumDataByAlbumServlet</servlet-name>
    <url-pattern>/FetchAlbumDataByAlbumServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DisplayAlbumsServlet</display-name>
    <servlet-name>DisplayAlbumsServlet</servlet-name>
    <servlet-class>Beans.DisplayAlbumsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayAlbumsServlet</servlet-name>
    <url-pattern>/DisplayAlbumsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DisplayArtistsServlet</display-name>
    <servlet-name>DisplayArtistsServlet</servlet-name>
    <servlet-class>Beans.DisplayArtistsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayArtistsServlet</servlet-name>
    <url-pattern>/DisplayArtistsServlet</url-pattern>
  </servlet-mapping>
</web-app>